Flask==3.0.0
flask-cors==4.0.0
yt-dlp>=2023.11.16
requests==2.32.5
beautifulsoup4==4.12.3
fpdf2==2.7.8
deep-translator==1.11.4
gTTS==2.5.4
gunicorn==21.2.0
werkzeug==3.0.1
pytesseract==0.3.13
sympy==1.13.3
